.filter {
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-button {
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent; /* רקע שקוף */
    color: #ff4d4d; /* טקסט אדום */
    border: none; /* ללא גבול */
    font-size: 16px; /* גודל טקסט */
    transition: color 0.3s; /* אנימציית שינוי צבע */
}

.remove-button:hover {
    color: #ff1a1a; /* צבע כהה יותר כשמחכים על הכפתור */
}


.drop-zone {
    min-width: 300px;
    min-height: 100px;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.available-filters {
    min-width: 300px;
    min-height: 100px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
