.apartment-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 15px rgba(20, 60, 218, 0.2);
    transition: box-shadow 0.3s, transform 0.3s;
    background-color: #ffffff;
    text-align: center;
}

.apartment-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.apartment-card h2 {
    margin-top: 0;
    color: #2c3e50;
    font-size: 1.5em;
}

.apartment-card p {
    line-height: 1.6;
    color: #555;
}

.apartment-card ul {
    padding-left: 20px;
    list-style-type: disc;
}

.apartment-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.allAparts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    justify-items: center;
    padding: 20px;
}
