
.myButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    display: inline-block;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.myButton:hover {
    opacity: 0.9; 
    transform: translateY(-2px); 
}

.myButton:active {
    transform: translateY(0); 
}

.myButton i {
    margin-left: 8px;
 }
