.datails ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.datails li {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    width: 80%; /* Set a specific width for the list items */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.datails li:hover {
    background-color: #f0f0f0;
}

.datails li p {
    color: #555;
    font-size: 18px;
    margin: 0;
}

.datails li .my-button {
    background-color: #007bff;
    color: rgb(9, 0, 0);
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.datails li .my-button:hover {
    background-color: #0056b3;
}
