div {
    margin-bottom: 15px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    appearance: none; /* Removes default arrow */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23333"/></svg>'); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position the arrow */
    background-size: 10px; /* Size of the arrow */
    
}


select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5); /* Adds a subtle shadow on focus */
}

/* Optional: Style for disabled state */
select:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}
/* form {
    max-width: 400px;
    margin: auto;
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
} */

.more-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* הקטנת margin */
}
/* 
input[type="text"], select {
    flex: 1;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px; 
}
.file-input {
    display: none; 
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #5a67d8; 
    background-color: #007bff; 

    color: white; 
    border-radius: 5px;
    transition: background-color 0.3s; 
} */

.custom-file-upload:hover {
    background-color: #434190; /* צבע רקע בהעברה */
    background-color: "blue"; /* צבע רקע בהעברה */
}


input[type="text"]:focus, select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

button[type="button"] {
    padding: 8px 12px; /* הקטנת padding */
    background-color: #d9534f;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px; /* הקטנת גודל הפונט */
    cursor: pointer;
    margin-left: 8px; /* הקטנת margin */
}

/* button[type="button"]:hover {
    background-color: #c9302c;
} */

h2 {
    text-align: center;
    color: #333;
    font-size: 18px; /* הקטנת גודל הפונט */
}

label {
    display: block;
    margin-bottom: 4px; /* הקטנת margin */
    font-weight: bold;
    font-size: 14px; /* הקטנת גודל הפונט */
}

/* Optional: Style for disabled state */
select:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}
