.user-avatar {
    position: relative;
    width: 160px; /* רוחב */
    height: 50px; /* גובה */
    border-radius: 25px; /* כדי ליצור אליפסה */
    background-color: #6c757d; /* צבע רקע */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* גודל גופן מותאם */
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    font-family: 'Noto Sans Hebrew', sans-serif; /* גופן מותאם לעברית */
    transition: transform 0.3s; /* אנימציה חלקה */
}

.user-avatar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px; /* מתאים לגבולות האליפסה */
    border: 4px solid rgba(255, 255, 255, 0.5); /* גבול מטושטש */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    filter: blur(4px); /* טשטוש גבולות */
    z-index: -1;
}

.user-avatar:hover {
    transform: scale(1.05); /* הגדלה קלה בעת ריחוף */
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  .button-container {
    display: flex; /* הורה עם flexbox */
    gap: 10px; /* רווח בין הכפתורים */
}
