.Nav {
    transition: background-color 0.3s, height 0.3s, box-shadow 0.3s;
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px 20px;
    height: 70px;
}

.forLogo {
    width: 100px;
    height: 50px;
}

.forLogin {
    margin-right: 40px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgba(44, 62, 80, 0.9);
}

@media (max-width: 600px) {
    .Nav {
        grid-template-columns: 1fr;
        height: auto;
    }

    .NavLinks {
        flex-direction: column;
        gap: 20px;
    }
}

.Nav {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.NavLink:hover {
    color: #f39c12;
    transform: scale(1.1);
}

.NavLink {
    font-weight: bold;
    padding: 10px 0;
    transition: color 0.3s, border-bottom 0.3s, transform 0.3s;
    color: #ecf0f1;
    text-decoration: none;
}

.NavLink.active {
    color: #f39c12;
    border-bottom: 2px solid #f39c12;
}

.NavLinks {
    display: flex;
    gap: 60px;
}

.forLogo {
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    width: auto;
    margin-right: 20px;
    transition: height 0.3s ease, transform 0.3s ease;
}

.Nav.fixed .logo {
    height: 80px;
}
